*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
key.properties
*.jks
*.keystore
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
iosApp/Configuration/Config.local.xcconfig
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
